/*General*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    text-decoration: none;
    float: left;
}


/*Header*/

header {
    background-color: silver;
    padding: 10px 16px;
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
}

.navtop {
    position: fixed;
    left: 0;
    width: 100%;
}

#alpha {
    float :left;
    width: 33.%;
}


.search {
    display: inline-block;
    border-radius: 25px;
    padding: 15px;
    width: 550px;
}

.navright {
    display: block;
    padding: 10px;
}

#sign{
    background-color: #4285f4;
    color: white;
    border-radius: 10%;
    padding-right: 20px;
    text-align: center;
    text-decoration: none;
}
/*Body*/
body {
    background-color: aqua;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 70%;
    clear: both;
}

nav {
    padding: 20px;
    background-color: wheat;
}
/*Footer*/

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: wheat;
}